html,
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

.actis {
	width: 100%;
	background-color: rgb(1, 89, 160);
	color: rgb(253, 209, 160);
	padding-top: 12vh;
	padding-bottom: 100px;
}

.actis h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 34px;
}

.actis div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.actis div img {
	width: 700px;
	max-width: 90vw;
	box-shadow: 2px 3px 16px rgb(0, 0, 0);
}

.defis {
	width: 100%;
	background-color: rgb(1, 89, 160);
	color: rgb(253, 209, 160);
	padding-bottom: 50px;
}

.defis div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.defis h1 {
	text-align: center;
	margin: 0;
	max-width: 30px 0;
	padding-top: 60px;
	font-size: 34px;
}

.defis div p {
	max-width: 75ch;
	padding: 30px;
	text-align: justify;
	text-align-last: center;
	font-size: 20px;
}

.explication {
	font-size: 24px;
	font-weight: 900;
	max-width: 90ch !important;
	text-align-last: center !important;
}
